annotated-types==0.5.0
anyio==3.7.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
colorama==0.4.6
fastapi==0.103.2
h11==0.14.0
idna==3.4
numpy
opencv-python==4.8.1.78
packaging==23.2
pandas
Pillow
pydantic
pydantic_core
pytesseract
python-dateutil
python-multipart
requests
uvicorn==0.23.2
